
- if (!articles.nil?)
  - articles.each do |article|
    - unless article.data.categories.include?("unfiltered")
      - image_title = article.data.image_title ? article.data.image_title : '/images/default-blog-image.png'
      - category = article.data.categories ? article.data.categories : 'all'
      - cat_url = category.parameterize(separator: '-')

      .flex-col.flex-col-1-3
        .blog-card
          %a.eyebrow{
            :href => category == 'releases' ? "/releases/categories/releases/" : "/blog/categories/#{cat_url}/",
            :"data-ga-name" => "#{cat_url}",
            :"data-ga-location" => "body"}
            = category
          %a.blog-card-image-wrap{ href: article.url, :"data-ga-name" => "#{article.title}", :"data-ga-location" => "body" }
            .blog-card-image
              = image_tag "#{image_title}", alt: "Post Image", loading: 'lazy'
          %a.blog-card-content{ href: article.url, :"data-ga-name" => "#{article.title}", :"data-ga-location" => "body" }
            .blog-card-title
              %h5.semibold
                - if article.data.release_number
                  GitLab
                  = article.data.release_number
                  released
                - else
                  = article.title
            .blog-card-excerpt
              %p
                - if article.data.description
                  = article.data.description
                - else
                  = article.summary
